---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

const authors = await getAllAuthors()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Authors" />
  <Breadcrumbs items={[{ label: 'Authors', icon: 'lucide:users' }]} />
  <section class="bg-background overflow-hidden rounded-lg">
    <img
      src="/me.png"
      alt="Author page illustration"
      class="block h-auto w-full"
      loading="eager"
    />
  </section>
  <section class="bg-background rounded-lg">
    <div class="p-6">
      <p class="text-muted-foreground mb-4 text-base leading-8 sm:text-lg">
        Hi!! i'm Fase Rais Baradika but I go by b4r. I was a greek security
        researcher and CTF player.
      </p>
      <p class="text-muted-foreground text-base leading-8 sm:text-lg">
        i love to break system, like web and mobile applications. i like modding
        application, and also do bug bounty hunting. In my bored time, i like to
        watch anime, read mangas, and procrastinating.
      </p>
    </div>
  </section>
</Layout>
