@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    'IBM Plex Mono', 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-mono:
    'IBM Plex Mono', 'Geist Mono', ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #faf5e6;
  --foreground: #14270f;
  --card: #fcf8ed;
  --card-foreground: #14270f;
  --primary: #1e6626;
  --primary-foreground: #faf5e6;
  --secondary: #f2ebd9;
  --secondary-foreground: #1b451e;
  --muted: #ede8d9;
  --muted-foreground: #576953;
  --accent: #e9e2c4;
  --accent-foreground: #1b451e;
  --destructive: #cc272e;
  --destructive-foreground: #faf5e6;
  --border: #ddd8c2;
  --ring: #1e6626;
}

[data-theme='dark'] {
  --background: #091509;
  --foreground: #ebe4d2;
  --card: #101f10;
  --card-foreground: #ebe4d2;
  --primary: #c2ad61;
  --primary-foreground: #091b0a;
  --secondary: #172617;
  --secondary-foreground: #dcd7c9;
  --muted: #182619;
  --muted-foreground: #959074;
  --accent: #1c2e1c;
  --accent-foreground: #dcd7c9;
  --destructive: #d74745;
  --destructive-foreground: #f6e7df;
  --border: #213321;
  --ring: #c2ad61;
}

@layer base {
  html {
    @apply antialiased;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}
