---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import MusicPresence from '@/components/MusicPresence.astro'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="rounded-lg border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-medium">b4r</h3>
      <p class="text-muted-foreground text-sm">
        /ˈbar/ &bull; <span class="font-medium">nouns</span>
      </p>
    </div>
    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        Security Researcher and
        <a
          href="https://ctftime.org/team/404184/"
          target="_blank"
          rel="noopener noreferrer"
          class="mx-1 inline-flex align-[-0.15em]"
          aria-label="Open Try4gain on CTFTIME"
        >
          <img
            src="https://ctftime.org/static/img/s/32x32.png"
            alt="CTFTIME"
            class="size-4"
          />
        </a>
        CTF Player with @Try4gain. Mostly into
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Ghidra_Logo.png"
          alt="IDA"
          class="mx-1 inline-block size-4 align-[-0.15em]"
        />
        reverse engineering,
        <img
          src="https://cdn.simpleicons.org/wireshark"
          alt="Wireshark"
          class="mx-1 inline-block size-4 align-[-0.15em]"
        />
        forensics,
        <img
          src="https://cdn.simpleicons.org/curl"
          alt="curl"
          class="mx-1 inline-block size-4 align-[-0.15em]"
        />
        web exploitation, and
        linux.
      </p>
      
      <p class="text-muted-foreground mb-2 text-sm">
        Besides security shit, I enjoy playing a pixel art games and watching anime.
      </p>
    </div>
  </section>
  
  <MusicPresence />
  
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
